stages:
  - build
  - test
  - publish

variables:
  CONTAINER_IMAGE: spice-builder
  CONTAINER_TAG: latest
  REGISTRY: $CI_REGISTRY
  IMAGE_NAME: $CI_REGISTRY_IMAGE

# Build the container image
build:
  stage: build
  image: docker:latest
  interruptible: true
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - docker compose build spice-api
    - docker save ${CONTAINER_IMAGE}:${CONTAINER_TAG} > image.tar
  artifacts:
    paths:
      - image.tar
    expire_in: 1 hour
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "web"

# Run unit tests
test:unit:
  stage: test
  image: docker:latest
  interruptible: true
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  needs:
    - build
  script:
    - docker load < image.tar
    - docker run --rm ${CONTAINER_IMAGE}:${CONTAINER_TAG} npm test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "web"

# Run API tests
test:api:
  stage: test
  image: docker:latest
  interruptible: true
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  needs:
    - build
  before_script:
    - apk add --no-cache curl jq
    # Install go-task
    - sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin
  script:
    - docker load < image.tar
    - docker compose up -d
    - sleep 5
    # Run API tests using Taskfile
    - task test:api:ci API_HOST=docker
  after_script:
    - docker compose logs || true
    - docker compose down -v || true
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "web"

# Publish container image to GitLab Container Registry
publish:
  stage: publish
  image: docker:latest
  interruptible: false
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  needs:
    - test:unit
    - test:api
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker load < image.tar
    - docker tag ${CONTAINER_IMAGE}:${CONTAINER_TAG} ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}
    - docker tag ${CONTAINER_IMAGE}:${CONTAINER_TAG} ${IMAGE_NAME}:latest
    - docker push ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}
    - docker push ${IMAGE_NAME}:latest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "web"
