networks:
  spice-network:
    driver: bridge

services:
  spice-api:
    build:
      context: ${CONTAINER_CONTEXT:-.}
      dockerfile: ${CONTAINER_FILE:-Dockerfile}
    image: ${CONTAINER_IMAGE:-spice-builder}:${CONTAINER_TAG:-latest}
    container_name: ${CONTAINER_NAME:-spice-api}
    ports:
      - "${SERVICE_HOST_PORT:-50000}:${SERVICE_PORT:-50000}"
    environment:
      - PORT=${SERVICE_PORT:-50000}
      - GIT_COMMIT=${GIT_COMMIT:-}
    networks:
      - spice-network
    restart: unless-stopped
